{
  "presets": [
    "babili",
    "@ava/stage-4",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "ignore": [
    "server/api/*/test"
  ],
  "comments": false,
  "sourceMaps": "inline"
}
